body {
	background: url('../images/background.png');
	background-size: 100% 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #2b2b2b;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 11px;
	height: 100vh;
}

.shadow {
	-moz-box-shadow: 0px 1px 5px 0px #292929;
	-webkit-box-shadow: 0px 1px 5px 0px #292929;
	box-shadow: 0px 1px 5px 0px #292929;
}

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 990px) {
	.content,
	.main_content {
		width: 100% !important;
	}

	.main_content {
		min-width: 100%;
	}

	.left_menu,
	.right_menu,
	.header {
		display: none !important;
	}

	.app {
		padding: 10px;
	}

	.mobile_header,
	.mobile_info_header,
	.mobile_footer {
		display: block !important;
	}

	.fdc-on-mobile {
		flex-direction: column;
	}
}

.mobile_header {
	display: none;
	width: 100%;
	background-color: #2f2f2f;
}

.mobile_info_header {
	display: none;
	width: 100%;
	background-color: #282828;
	padding: 15px;
	font-size: 9px;
	box-sizing: border-box;
}

.mobile_top_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 15px;
}

.content {
	width: 1050px;
	height: 100px;
}

.header {
	background: linear-gradient(
		0deg,
		rgba(57, 57, 57, 1) 0%,
		rgba(40, 40, 40, 1) 100%
	);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-bottom: 5px;
	display: flex;
	flex-direction: row;
	padding: 15px;
	color: #b3b3b3;
}

.left_menu,
.right_menu {
	display: flex;
	flex-direction: column;
	gap: 1px;
	width: 190px;
}

.left_menu_element:nth-child(odd),
.right_menu_element:nth-child(odd) {
	background-color: #404040;
}

.left_menu_element:nth-child(even),
.right_menu_element:nth-child(even) {
	background-color: #444444;
}

.left_menu_element,
.right_menu_element {
	border-radius: 3px;
	padding: 0px 15px;
	color: #b3b3b3;
	width: auto;
	height: 36px;
}

.left_menu a {
	text-decoration: none;
	background: none;
}

.left_menu_element,
.right_menu_element {
	transition: 0.2s;
}

.left_menu_element:hover,
.right_menu_element:hover {
	background-color: #575757;
	color: white;
}

.no_link {
	cursor: default;
	opacity: 0%;
	padding: 2px;
}

.main_content {
	flex-grow: 1;
	background-color: #404040;
	border-radius: 3px;
	flex-direction: column;
	display: flex;
	max-width: 660px;
}

.app {
	display: flex;
	gap: 5px;
}

.fww {
	flex-wrap: wrap;
}

.aic {
	align-items: center;
}

.jcc {
	justify-content: center;
}

.mb-1 {
	margin-bottom: 0.1rem;
}

.mb-15 {
	margin-bottom: 0.15rem;
}

.mb-2 {
	margin-bottom: 0.2rem;
}

.mb-5 {
	margin-bottom: 0.5rem;
}

.mt-1 {
	margin-top: 0.1rem;
}

.mt-5 {
	margin-top: 0.5rem;
}

.mt-10 {
	margin-top: 1rem;
}

.df {
	display: flex;
}

.df-same-width {
	flex: 1;
}

.fdr {
	flex-direction: row;
}

.fdc {
	flex-direction: column;
}

.fg-1 {
	gap: 1px;
}

.fg-2 {
	gap: 2px;
}

.fg-3 {
	gap: 3px;
}

.fg-5 {
	gap: 5px;
}

.fg-10 {
	gap: 10px;
}

.fg-20 {
	gap: 20px;
}

.fg-30 {
	gap: 30px;
}

.fg-40 {
	gap: 40px;
}

.fg-50 {
	gap: 50px;
}

.big_icon {
	font-size: 20px;
}

.medium_icon {
	font-size: 17px;
}

.semi_medium_icon {
	font-size: 11px;
}

.jcsb {
	justify-content: space-between;
}

.profile_content {
	width: 300px;
	border-right: 1px solid #454545;
}

.right_content {
	width: 200px;
	border-left: 1px solid #454545;
}

.middle_content {
	display: flex;
	margin-left: 20px;
	flex-grow: 1;
}

.profile_content .df .profile_img {
	justify-content: center;
}

ul {
	list-style: none;
	padding-left: 20px;
	margin: 0px;
}

ul li {
	padding: 2px;
}

.text-secondary {
	color: #6b6b6b;
}

.text-red {
	color: #7a2626;
}

.text-green {
	color: #669003;
}

.text-orange {
	color: #ff7902;
}

.text-blue {
	color: #1d6f7e;
}

.text-light-blue {
	color: #4fcbf9;
}

.text-light-green {
	color: #b1e909;
}

.progress-bar-rank,
.progress-bar-health {
	width: 100%;
	height: 2px;
	background-color: #454545;
	border-radius: 2px;
}

.progress-bar-rank-fill,
.progress-bar-health-fill {
	display: block;
	height: 2px;
	border-radius: 2px;
}

.progress-bar-rank-fill {
	background-color: #ff7902;
}

.progress-bar-health-fill {
	background-color: #669003;
}

.secondary-link {
	color: #a3a3a3;
	transition: 0.2s;
}

.secondary-link:hover {
	text-decoration: none;
	color: white;
}

.primary-link {
	color: #f9f9f9;
}

.primary-link:hover {
	text-decoration: underline;
}

a {
	text-decoration: none;
}

.isReady {
	background-color: #5b6b2b !important;
}

.menu_cooldown {
	background-color: #494949;
	color: #b3b3b3;
	padding: 3px 5px;
	border-radius: 2px;
}

.menu_divider {
	height: 3px;
}

.clock_text {
	font-size: 24px;
}

.main_content_header {
	display: flex;
	width: 100%;
	background-color: #444444;
	color: #9c9c9c;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	padding: 10px;
	box-sizing: border-box;
	gap: 5px;
	font-size: 12px;
}

.main_content_context {
	padding: 10px;
	color: #9c9c9c;
}

.content_header {
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	color: #9c9c9c;
	background-color: #575757;
	border-radius: 3px;
	margin-bottom: 2px;
}

.content_context {
	background-color: #474747;
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	border-radius: 3px;
	border: 1px solid #575757;
	color: #9c9c9c;
	word-wrap: break-word;
}

input[type='text'] {
	padding: 7px 10px;
	background-color: #474747;
	border: 1px solid #575757;
	border-radius: 3px;
	transition: 0.2s;
	color: white;
	font-size: 12px;
}

select {
	padding: 6px 10px;
	background-color: #474747;
	border: 1px solid #575757;
	border-radius: 3px;
	transition: 0.2s;
	color: #9c9c9c;
	font-size: 12px;
}

select:hover {
	cursor: pointer;
	border: 1px solid #888888;
	color: white;
}

select:active,
select:focus {
	border: 1px solid #888888;
	outline: none;
	color: white;
}

input[type='text']:active,
input[type='text']:focus {
	border: 1px solid #888888;
	outline: none;
	color: white;
}

.btn {
	padding: 7px 10px;
	border: 1px solid #575757;
	color: #9c9c9c;
	border-radius: 3px;
	transition: 0.2s;
	font-size: 12px;
}

.success_btn {
	background-color: #445b40;
}

.default_btn {
	background-color: #474747;
}

.btn_active {
	background-color: #585858;
}

.error_btn {
	background-color: #4e3737;
}

.btn:hover {
	cursor: pointer;
	color: white;
}

.small_input {
	width: 70px;
}

.medium_input {
	width: 110px;
}

.color-white {
	color: rgb(226, 226, 226);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

.logout:hover {
	color: #ff7902 !important;
}

.tabs_container {
	background-color: #444444;
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
	height: 250px;
	border-radius: 3px;
	color: #9c9c9c;
}

.tac {
	text-align: center;
}

.tablinks {
	height: 14px;
	width: 8px;
	border: none;
	background-color: #444444;
	border-radius: 69px;
	border: 1px solid #828282;
}

.tablinks:hover {
	cursor: pointer;
	background-color: #828282;
}

.tabcontent {
	height: 170px;
	display: none;
}

.active {
	background-color: #828282;
}

.tab {
	display: flex;
	gap: 10px;
}

.circle_mobile_profile_picture {
	height: 18px;
	width: 18px;
	border-radius: 69px;
	border: 1px solid #828282;
	background-size: contain;
}

.mobile_footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #b3b3b3;
	display: none;
}

.footer_not_ready {
	border-bottom: 5px solid #353535;
}

.footer_ready {
	border-bottom: 5px solid #669003;
}
